body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.greeting, .intro, .military {
  height: 100vh;
}

/* Speech Bubble Mixins */
@mixin oval(){
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10em;
  width: 20em;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
}

@mixin triangle(){
  position: absolute;
  content: '';
  height: 0;
  width: 0;
}

/* Greeting */
.greeting {
  position: relative;
}

.greeting * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.greeting img {
  width: 33%;
}

.greeting div {
  transform: translateY(-150%);
}

/* Logos */
div.logos {
  position: relative;
  height: 120em;
}

img.logo {
  position: absolute;
  width: 25%;
}

/* Military */

div.military {
  position: relative;
  img{ 
    position: absolute;
  }
  img.flag {
    width: 25%; 
  }
  img.soldier {
    top: 10%;
    width: 30%;
  }
  div.leftSpeechBubble{
    top: 47%;
    @include oval;
    padding: 1em;
  }
  .leftSpeechBubble:after {
    @include triangle;
    z-index: 0;
    top: 20%;
    left: 89.5%;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 22px solid white;
  }
  .leftSpeechBubble:before{
    @include triangle;
    z-index: -1;
    top: 19.5%;
    left: 89.5%;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid black;
  }
}

/* Speach Bubbles */

div.speachBubble {
  @include oval
}

.speachBubble:after {
  @include triangle; 
  z-index: 0;
  top: 70%;
  left: -.3%;
  border-bottom: solid 22px white;
  border-left: solid 22px transparent;
  border-right: solid 22px transparent;
}

.speachBubble:before {
  @include triangle;
  z-index: -1;
  top: 70%;
  left: -0.9%;
  border-bottom: solid 23px black;
  border-left: solid 23px transparent;
  border-right: solid 23px transparent;
}

div.topSpeechBubble {
  @include oval;
}

.topSpeechBubble:after {
  @include triangle;
  left: 5%;
  top: 5%;
  z-index: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid white;
}

.topSpeechBubble:before {
  @include triangle;
  left: 4.7%;
  top: 4.1%;
  z-index: -1;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 23px solid black;
}


